[submodule "src/diff_planner"]
	path = src/diff_planner
	url = ../diff_planner.git
[submodule "src/px4ctrl"]
	path = src/px4ctrl
	url = ../px4ctrl.git
[submodule "src/faster-lio"]
	path = src/faster-lio
	url = ../faster-lio.git
[submodule "src/vins-fusion-gpu"]
	path = src/vins-fusion-gpu
	url = ../vins-fusion-gpu.git
[submodule "src/utils"]
	path = src/utils
	url = ../utils.git
